<div>
    <h2>
        <span jhiTranslate="jhipsterSampleApplicationApp.randonnee.home.title">Randonnees</span>
        <button class="btn btn-primary float-right jh-create-entity create-randonnee" [routerLink]="['/', { outlets: { popup: ['randonnee-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterSampleApplicationApp.randonnee.home.createLabel">
            Create new Randonnee
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="randonnees">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lieuDeRDV"><span jhiTranslate="jhipsterSampleApplicationApp.randonnee.lieuDeRDV">Lieu De RDV</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="denivelePositif"><span jhiTranslate="jhipsterSampleApplicationApp.randonnee.denivelePositif">Denivele Positif</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="duree"><span jhiTranslate="jhipsterSampleApplicationApp.randonnee.duree">Duree</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="jhipsterSampleApplicationApp.randonnee.date">Date</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let randonnee of randonnees ;trackBy: trackId">
                <td><a [routerLink]="['../randonnee', randonnee.id ]">{{randonnee.id}}</a></td>
                <td>{{randonnee.lieuDeRDV}}</td>
                <td>{{randonnee.denivelePositif}}</td>
                <td>{{randonnee.duree}}</td>
                <td>{{randonnee.date | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../randonnee', randonnee.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'randonnee/'+ randonnee.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'randonnee/'+ randonnee.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="randonnees && randonnees.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
