<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRandonneeLabel" jhiTranslate="jhipsterSampleApplicationApp.randonnee.home.createOrEditLabel">Create or edit a Randonnee</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!randonnee.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="randonnee.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.randonnee.lieuDeRDV" for="field_lieuDeRDV">Lieu De RDV</label>
            <input type="text" class="form-control" name="lieuDeRDV" id="field_lieuDeRDV"
                [(ngModel)]="randonnee.lieuDeRDV" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.randonnee.denivelePositif" for="field_denivelePositif">Denivele Positif</label>
            <input type="number" class="form-control" name="denivelePositif" id="field_denivelePositif"
                [(ngModel)]="randonnee.denivelePositif" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.randonnee.duree" for="field_duree">Duree</label>
            <input type="number" class="form-control" name="duree" id="field_duree"
                [(ngModel)]="randonnee.duree" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.randonnee.date" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="randonnee.date"
                />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
